


<nav class="nav-container">
    <ul class="logo-side">
        <h2 class="logo" style="margin-left: 120px">
            |Tech <font color="#264FD9"> Trova</font>
        </h2>
    </ul>
    <ul class="right-side">
        <li><a href="../Basics/Basics.html">Basics</a></li>
        <li><a href="">Paths</a></li>
        <li><a href="">Tips</a></li>
        <li>
            <a.nav__el href='../Signup/signin.html'>
            <div class='signin'>Sign In</div>
            </a>
        </li>
    </ul>
</nav>  